:root {
  --back-light: rgb(40, 42, 54);
  --back-dark: rgb(33, 34, 44);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  max-height: 100vh
}